@{
    ViewData["Title"] = "Home Page";
}

<div id="about" class="about">
            <div class="about-left"></div>
            <div class="about-right">
                <h1 style="font-weight: 200; font-family: 'PT Sans'; margin-top: 100px; margin-left: 50px;">Hi! I'm <strong>Otem</strong></h1>
                <br>
                <p style="color: #666666; font-size: 22px;line-height: 38px; margin-bottom: 55px;margin-left: 50px;padding-right: 30px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis.</p>
                <a class="about_links" style="margin-left: 50px;" href="">My Work</a>
                <a class="about_links" style="margin-left: 25px;" href="">Hire me</a>
            </div>
        </div>
        <div id="services" class="services">
            <div class="services_content">
                <img class="services-title" src="image/services.svg" alt="">
                <div class="sf">
                    <div class="sf1">
                        <div class="servic">
                            <img style="margin-right: 70px;" width="48px" src="image/icon-right.svg" alt="">
                            <div class="si">
                                <p class="servic_info" style="font-size: 24px; font-weight: 900;">WEB DESIGN</p>
                            <br>
                            <p style="color: #7a7a7a;" class="servic_info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                            </div>
                        </div>
                        <div class="servic">
                            <img style="margin-right: 70px;" width="48px" src="image/icon-right.svg" alt="">
                            <div class="si">
                                <p class="servic_info" style="font-size: 24px; font-weight: 900;">WEB DESIGN</p>
                            <br>
                            <p style="color: #7a7a7a;" class="servic_info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                            </div>
                        </div>
                    </div>
                    <div class="sf2">
                        <div class="servic">
                            <img style="margin-right: 70px;" width="48px" src="image/icon-right.svg" alt="">
                            <div class="si">
                                <p class="servic_info" style="font-size: 24px; font-weight: 900;">WEB DESIGN</p>
                            <br>
                            <p style="color: #7a7a7a;" class="servic_info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                            </div>
                        </div>
                        <div class="servic">
                            <img style="margin-right: 70px;" width="48px" src="image/icon-right.svg" alt="">
                            <div class="si">
                                <p class="servic_info" style="font-size: 24px; font-weight: 900;">WEB DESIGN</p>
                            <br>
                            <p style="color: #7a7a7a;" class="servic_info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exp" class="exp">
            <img src="image/exp.svg" alt="">
        </div>
        <div id="contact" class="contact">
            <div class="contact_right">
                            <form class="email"method="POST">
                                <input type="text" placeholder="Name" name="name">
                                <input type="text" placeholder="Email" name="email">
                                <input type="text" placeholder="Mobile number" name="mobileNumber">
                                <input type="text" placeholder="message" name="message">
                                <input type="submit">
                            </form>
                                
                            </div>
        </div>