<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("a").on('click', function(event) {
                    if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                        window.location.hash = hash;
                    });
                    }
                });
                });
        </script>
</head>
<body>
<header class="header">
                  <div class="header_content">
                   <a href="" class="logo"><img src="image/logo.svg" alt="logo"></a>
                   <div class="menu">
                       <a href="#about" class="links">About</a>
                       <a href="#services"class="links">services</a>
                       <a href="#exp"class="links">experience</a>
                       <a href=""class="links">Portfolio</a>
                       <a href=""class="links">blog</a>
                       <a href="#contact"class="links">contact</a>
                   </div>
                  </div>
                  <div class="prof_card">
                      <div class="card_left">
                          <img src="image/hi.svg" alt="">
                           <h2 style="color: #C7C7C7; font-weight: 100; font-family: 'PT Sans'; margin-top: 5px;">UX & UI DESIGNER</h2>
                           <div class="card_info">
                               <div style="width: 20%;">
                                   <p class="infofirst">NAME</p>
                                   <p class="infofirst">D.O.B.</p>
                                   <p class="infofirst">PHONE</p>
                                   <p class="infofirst">ADDRESS</p>
                                   <p class="infofirst">E-MAIL</p>
                                   <p class="infofirst">WEBSITE</p>
                               </div>
                               <div>
                                   <p class="infolast"> Otem</p>
                                   <p class="infolast"> 13.08.2002</p>
                                   <p class="infolast"> +7-996-666-66-66</p>
                                   <p class="infolast"> Kazan</p>
                                   <p class="infolast"> scumwd@gmail.com</p>
                                   <p class="infolast"><a class="infolast" href="https://github.com/scumwd">github.com/scumwd</a></p>
                               </div>
                           </div>
                      </div>
                      <div class="card_right">
                           <img width="379px" style="margin-top: 19px;" src="image/photo.jpg" alt="">
                      </div>
                  </div>
</header>
<div class="">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Portfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>